@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bruno+Ace+SC&display=swap');
// Colors
$primary-color: #f4b9b8;
$color2: #85d2d0;
$color3: #887bb0;
$color4: #fff4bd;

// Fonts
$font1: 'Ubuntu';
$font2: 'Bruno Ace SC';
